.docMainContainer {
  display: flex;
  width: 100%;
  padding-top: 1.5625rem;
  padding-bottom: 1.5625rem;
}

@media (min-width: 997px) {
  .docMainContainer {
    flex-grow: 1;
    max-width: calc(100% - var(--doc-sidebar-width));
    padding-top: 1.125rem;
    padding-bottom: 1.125rem;
  }

  .docMainContainerEnhanced {
    max-width: calc(100% - var(--doc-sidebar-hidden-width));
  }

  .docItemWrapperEnhanced {
    max-width: calc(
      var(--ifm-container-width) + var(--doc-sidebar-width)
    ) !important;
  }
}
