body {
  padding: 50px;
  font:
    14px 'Lucida Grande',
    Helvetica,
    Arial,
    sans-serif;
}

a {
  color: #00b7ff;
}

.alert {
  padding: 20px;
  background-color: #f44336;
  color: white;
  width: 400px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.button {
  border-style: none;
  cursor: pointer;
  align-items: center;
  height: 40px;
  width: 401px;
  text-align: center;
  position: absolute;
  letter-spacing: 0.28px;
  box-sizing: border-box;
  color: white;
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  margin: 0;
  padding: 1px 6px;
  background-color: rgba(2, 10, 64);
  border-image: initial;
}

.form {
  margin-top: 40px;
 
}

.prompt {
  align-items: center;
  align-self: center;
  background-color: white;
  border: 1px solid rgba(2, 10, 64);
  border-radius: 2px;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  flex-shrink: 0;
  height: 40px;
  justify-content: flex-start;
  margin-right: 1px;
  margin-bottom: 20px;
  min-width: 399px;
  padding: 0 16px;
  position: relative;
  width: auto;
}

#input_value {
  background-color: white;
  border-style: none;
  flex-shrink: 0;
  height: auto;
  letter-spacing: 0.12px;
  line-height: 16px;
  min-height: 16px;
  position: relative;
  text-align: left;
  white-space: nowrap;
  width: 351px;
  color: rgba(2, 10, 64, 1);
  font-family: 'Raleway', Helvetica, Arial, serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  padding: 1px 2px;
  outline: none;
}

h1 {
  padding-bottom: 20px;
}


