label,
input,
textarea {
    transition: all 200ms ease;
}

select {
    background: transparent;
    border: 0;
    color: var(--c-black);
    position: relative;
    border-bottom: 1px solid var(--c-gray-300);
}

.mktoForm select {
    padding: 7px;
}

.mktoLabel {
    display: flex;
    align-items: center;
}

.mktoFieldWrap {
    display: flex;
    flex-flow: column;
    margin-bottom: 0.5rem;
    position: relative;
    width: 100%;
}

.mktoFieldDescriptor.mktoFormCol {
    width: 100%;
}

.mktoForm .mktoFieldWrap input,
.mktoForm .mktoFieldWrap textarea {
    border: 0;
    border-bottom: 1px solid var(--c-gray-300);
    color: var(--c-black);
    font-family: var(--font-body);
    font-size: 0.875rem;
    padding: 0.5rem 0.25rem;
    transition: all 100ms ease;
    width: 100%;
}

.mktoForm .mktoFieldWrap textarea {
    border: 1px solid var(--c-gray-300);
    margin-top: 2.5rem;
    min-height: 5.625rem;
    padding: 0.5625rem 0.625rem;
    resize: vertical;
}

.mktoInvalid,
.mktoForm .mktoFieldWrap input.mktoInvalid,
.mktoForm .mktoFieldWrap textarea.mktoInvalid,
.mktoFieldWrap.forSelect.mktoInvalid {
    border-bottom-color: #ff0000;
}


.mktoForm .mktoFieldWrap {
    label.mktoLabel {
        color: var(--c-gray-400);
        font-size: 0.875rem;
        margin-bottom: 0;
        padding: 0 0.25rem;
        position: relative;
        text-transform: none;
        transform: translate(0, 1rem);
        transform-origin: left bottom;
        width: 100%;
        z-index: 1;

        @include md {
            transform: translate(0, 1.5rem);
        }

        @include lg {
            transform: translate(0, 1.6rem);
        }
    }
    //checkbox required label
    label[for="optInConfirmed"] {
        display: none;
    }
    
}



.mktoForm .mktoFieldWrap label.mktoLabel>strong {
    padding: 0;
}

input:focus {
    border-bottom-color: var(--c-aa-periwinkle);
    outline: 0;
}


::-webkit-input-placeholder,
::placeholder {
    opacity: 0;
    transition: inherit;
}

.mktoGutter {
    display: none;
}

textarea {
    position: relative;
    z-index: 0;
}


// /* Checkbox */
.mktoLogicalField.mktoCheckboxList {
    padding: 0;
    position: relative;
    z-index: 1;
    display: flex;
    color: var(--c-gray-400);
    margin-top: 15px;
}

.mktoLogicalField.mktoCheckboxList>label {
    flex: 1 1 50%;
    margin-bottom: 1em;
    margin-left: 1em;

    @extend .type-paragraph-small;

    a {
        color: var(--c-aa-periwinkle);
    }
}

.mktoLogicalField.mktoCheckboxList>input[type="checkbox"] {
    height: 16px;
    width: 16px;
}


.mktoCheckboxList {
    label {
        transform: none !important;
    }
}

.mktoButton {
    @extend .button;
    @extend .button--11-o-clock;
    border: 2px solid transparent;

    &:hover {
        border-color: var(--c-eleven-o-clock);
    }
}


.mktoAsterix {
    color: red;
    margin-right: 3px;
}

.mktoForm .mktoError .mktoErrorMsg {
    color: red;
    @extend .type-paragraph-extra-small;
    padding: 0.5rem;
}