.markdown {
  @extend .text-11-o-clock;
  @extend .type-paragraph;

  @include dark {
    @extend .text-off-white;
  }

  a {
    @extend .border-underline-link;
    font-weight: 500;
  }

  h2 {
    @extend .type-epilson;
  }

  // p, a {
  //     @extend .type-paragraph;
  // }

  table td {
    vertical-align: top;
  }

  thead {
    @extend .type-eta;
  }

  code {
    @extend .code;
    @include dark {
      @extend .text-cyan-45;
    }
  }

  .jump-anchor {
    display: block;
    &:before {
      content: "";
      display: block;
      position: relative;
      width: 0;
      height: 4rem; //navbar height
      margin-top: -4rem;
    }
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-inline-start: 1.5rem;
  }

  li {
    > p {
      margin-bottom: 0;
    }
  }

  //temp fix for dark mode images
  img {
    background-color: #fff;
  }

  tr {
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);

      @include dark {
        background-color: rgba(255, 255, 255, 0.03);
      }
    }
  }

  table tr:nth-child(2n) {
    background-color: inherit;

    &:hover {
      background-color: rgba(0, 0, 0, 0.03);

      @include dark {
        background-color: rgba(255, 255, 255, 0.03);
      }
    }
  }
}

.theme-last-updated {
  @extend .text-11-o-clock;
  @extend .type-paragraph-small;
  font-style: normal;

  @include dark {
    @extend .text-white;
  }
}
